<template>
    <div>
        <div v-if="loading" class="text-center">
            <loading></loading>
        </div>
        <div v-else class="table-wrap">
            <div class="table-responsive">
                <table class="table mb-0">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Student Name</th>
                        <th>Course</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(student,index) in students">
                        <td>{{ index + 1}}</td>
                        <td>{{ student.fullname}}
                            <br>
                            <span v-if="student.boarder === '1'" class="badge badge-cyan">Boarder</span>
                            <span v-else class="badge badge-gold">Day Scholar</span>
                        </td>
                        <td>{{ student.courses.type}} in {{ student.courses.name}}</td>
                        <td>
                            <router-link :key="$route.fullPath" :to="{ name: 'showstudents',params: {id: student.id} }"
                                         class="mr-25 btn btn-sm btn-outline-blue">
                                <i class="icon-list"></i>
                            </router-link>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    import loading from './../loading'

    export default {
        name: "index",
        components: {
            loading
        },
        data() {
            return {
                students: '',
                loading: false
            }
        },
        methods: {
            getStudents() {
                this.loading = true;
                axios.get('/api/students').then(resp => {
                    this.loading = false;
                    this.students = resp.data;
                }).catch(err => {
                    this.loading = false;
                    if (err.request) {
                        this.loading = false;
                    }
                });
            }
        },
        created() {
            this.getStudents();
        }
    }
</script>

<style scoped>
</style>
