<template>
    <keep-alive>
        <div>
            <div v-if="loading" class="text-center">
                <loading></loading>
            </div>
            <div v-else>
                <div class="col-md-4">
                    <div class="card text-center">
                      <div class="card-header">
                        Total Students
                      </div>
                      <div class="card-body">
                        <h4 class="card-title">{{ totalstudents }}</h4>
                      </div>
                    </div>
                </div>
                <div class="table-wrap">
                    <div class="table-responsive">
                        <table class="table mb-0">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Course Name</th>
                                <th>Fee Per Semester</th>
                                <th>No. of students</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(course,index) in courses">
                                <td>{{ index + 1}}</td>
                                <td>{{ course.type}} in {{ course.name}}</td>
                                <td>{{ parseInt(course.fee).toLocaleString() }}</td>
                                <td>{{ course.students_count}}</td>
                                <td>
                                    <router-link :key="$route.fullPath"
                                                 :to="{ name: 'showcourse',params: {id: course.id} }"
                                    >
                                        <i class="icon-eye"></i>
                                    </router-link>


                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </keep-alive>

</template>

<script>
    import loading from './../loading'

    export default {
        name: "index",
        components: {
            loading
        },
        data() {
            return {
                courses: '',
                totalstudents: '',
                loading: false
            }
        },
        methods: {
            getCourses() {
                this.loading = true;
                axios.get('/api/course').then(resp => {
                    this.loading = false;
                    this.courses = resp.data;
                }).catch(err => {
                    this.loading = false;
                    if (err.request) {
                        this.loading = false;
                    }
                });
            },
            getStudents() {
                axios.get('/api/students').then(resp=>{
                    this.totalstudents = Object.keys(resp.data).length;
                });
            }
        },
        created() {
            this.getCourses();
            this.getStudents();
        }
    }
</script>

<style scoped>
</style>
